<h1>Books</h1>
  <% @books.each do |book| %>
    <p>
      <%= book.name %>
    </p>
    <%= button_to "delete", {:controller => :books,
      :action => 'delete', :id => book.id }, :method => :delete %>
      <a href="/books/<%= book.id %>">View Info</a>
      <a href="books/<%= book.id %>/edit">Edit</a>
  <% end %>
